.App {
  width: 100vw;
  height: 100vh;
  background-color: hsl(228, 33%, 97%);
  overflow-x: hidden;
}

.comments-section-container {
  position: relative;
  width: 600px;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}


.comments-container {
  height: calc(100% - 110px);
  overflow-y: scroll;
}

.comments-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.comments-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.comments-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
.comments-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media(max-width: 645px) {
  .comments-section-container {
    width: 90%;
  }
}